<h1><%= @user['username']%></h1>
<img src="<%= api_url+@user['avatar_medium'] %>" id="user_avatar">
<% if @user['username']==current_user['username'] %>
  <br />
  <%= link_to 'Update Profile', "/users/settings/#{current_user['id']}" %>
<% end %>
<br />
<%if @user['id']==current_user['id'] %>
  <div id="hidden-posts">
    <h2>Hidden Posts</h2>
    <ul class="user-hidden-posts">
      <% @user_posts.each do |post| %>
        <% if !post['revealed'] %>
          <%= render 'posts/post', :post => post %>
        <% end %>
      <% end %>
    </ul>
  </div>
  <br />
  <br />
<% end %>
<div id="revealed-posts">
  <h2>Public Posts</h2>
  <ul class="user-revealed-posts">
    <% @user_posts.each do |post| %>
      <% if post['revealed'] %>
        <%= render 'posts/post', :post => post %>
      <% end %>
    <% end %>
  </ul>
</div>
