<li id="<%= post['id'] %>" class="post">
  <div class="post_vote" data-uservote="<%= post['current_user_vote'] %>" data-id="<%= post['id'] %>" data-isposter="<%= post['current_user_is_poster'] %>" data-watchstat="<%= post['watch_stat'] %>" data-ignorestat="<%= post['ignore_stat'] %>">
    <% if post['current_user_vote']=='watch' %>
      <div class="post_watch bold">WATCH</div>
      <div class="post_ignore">IGNORE</div>
    <% elsif post['current_user_vote']=='ingore' %>
      <div class="post_watch">WATCH</div>
      <div class="post_ignore bold">IGNORE</div>
    <% else %>
      <div class="post_watch">WATCH</div>
      <div class="post_ingore">IGNORE</div>
    <% end %>
  </div>
  <div class="post_username">user: <%= post['username'] %>
    <% if post['current_user_is_poster'] and !post['revealed'] %>
       (Me)
    <% end %>
  </div>
  <div class="post_avatar_div">
    <img src="<%= post['avatar_thumb'] %>" class="post_avatar_image">
  </div>
  <div class="post_content">says: <%= post['content'] %></div>
  <div class="post_watch_stat">watches: <%= post['watch_stat'] %></div>
  <div class="post_ignore_stat">ignores: <%= post['ignore_stat'] %></div>
  <div class="post_share_stat">shares: <%= post['share_stat'] %></div>
  <%if post['current_user_is_poster'] %>
    <% if post['revealed']%>
      <div class="post_control hide_post" data-id="<%=post['id']%>">hide</div>
    <% else %>
      <div class="post_control reveal_post" data-id="<%=post['id']%>">reveal</div>
    <% end %>
    <div class="post_control delete_post" data-id="<%=post['id']%>">delete</div>
  <% end %>
</li>