<li id="<%= post['id'] %>" class="post">
  <div class="post_vote" data-uservote="<%= post['current_user_vote'] %>" data-id="<%= post['id'] %>" data-isposter="<%= post['current_user_is_poster'] %>" data-vote="<%= post['vote_stat'] %>">
    <% if post['current_user_vote']=='up' %>
      <div class="post_vote_up bold">+</div>
      <div class="post_vote_down">-</div>
    <% elsif post['current_user_vote']=='down' %>
      <div class="post_vote_up">+</div>
      <div class="post_vote_down bold">-</div>
    <% else %>
      <div class="post_vote_up">+</div>
      <div class="post_vote_down">-</div>
    <% end %>
  </div>
  <div class="post_username">user: <%= post['username'] %>
    <% if post['current_user_is_poster'] and !post['revealed'] %>
       (Me)
    <% end %>
  </div>
  <div class="post_avatar_div">
    <img src="<%= api_url+post['avatar_thumb'] %>" class="post_avatar_image">
  </div>
  <div class="post_content">says: <%= post['content'] %></div>
  <div class="post_vote_stat">votes: <%= post['vote_stat'] %></div>
  <div class="post_share_stat">shares: <%= post['share_stat'] %></div>
  <%if post['current_user_is_poster'] %>
    <% if post['revealed']%>
      <div class="post_control hide_post" data-id="<%=post['id']%>">hide</div>
    <% else %>
      <div class="post_control reveal_post" data-id="<%=post['id']%>">reveal</div>
    <% end %>
    <div class="post_control delete_post" data-id="<%=post['id']%>">delete</div>
  <% end %>
</li>