<li class="post post_listing <%= post['id'] %>" data-id="<%= post['id'] %>" data-itemtype="<%=  post['item_type'] %>" data-voteid="<%=  post['vote_id'] %>">
  <div class="post_vote" data-uservote="<%= post['current_user_vote'] %>" data-id="<%= post['id'] %>" data-isposter="<%= post['current_user_is_poster'] %>" data-watchstat="<%= post['watch_stat'] %>" data-ignorestat="<%= post['ignore_stat'] %>">
    <% if post['current_user_vote']=='watch' %>
      <div class="post_watch bold">WATCH</div>
      <div class="post_ignore">IGNORE</div>
    <% elsif post['current_user_vote']=='ignore' %>
      <div class="post_watch">WATCH</div>
      <div class="post_ignore bold">IGNORE</div>
    <% else %>
      <div class="post_watch">WATCH</div>
      <div class="post_ignore">IGNORE</div>
    <% end %>
  </div>
  <div class="post_username">
    <% if post['revealed'] %>
      user: <a class="post_username_link" href="<%="/users/#{post['user_id']}"%>"><%= post['username'] %></a>
    <% else %>
      user: Anonymous 
    <% end %>
    <% if post['current_user_is_poster'] and !post['revealed'] %>
      (Me)
    <% end %>
  </div>
  <div class="post_avatar_div">
    <% if post['revealed'] %>
      <a class="post_avatar_link" href="<%="/users/#{post['user_id']}"%>">
    <% end %>
    <img src="<%= post['avatar_thumb'] %>" class="post_avatar_image">
    <% if post['revealed'] %>
      </a>
    <% end %>
  </div>
  <div class="post_content">says: <%= post['content'] %></div>
  <div class="post_watch_stat">watches: <%= post['watch_stat'] %></div>
  <div class="post_ignore_stat">ignores: <%= post['ignore_stat'] %></div>
  <% if post['item_type']=='watch' %>
    <div class="watch_info">
      Watched by <a class="watch_user_link" href="/users/<%= post['followed_user_id'] %>"><%= post['followed_username'] %></a>
    </div>
  <% end %>
</li>