<div id="new-post" class="row">
  <%= form_tag("/posts", method: "post", id: 'new-post-form', class: 'small-12 column') do %>
    <%= label_tag(:content, "Broadcast what's on your mind...") %>
    <%= text_area_tag(:content, nil, placeholder: 'it will be anonymous') %>
    <%= hidden_field_tag :latitude, nil %>
    <%= hidden_field_tag :longitude, nil %>
    <button class="button tiny no-focus" type="submit">
      <i class="fi-sound"></i>
    </button>
  <%end%>
</div>