<ul class="posts show-post">
<div class="row post post_listing <%= @post['id'] %>" data-id="<%= @post['id'] %>" data-itemtype="<%=  @post['item_type'] %>" data-voteid="<%=  @post['vote_id'] %>">
  <div class="small-3 column post_avatar_div">
    <% if @post['revealed'] %>
      <a class="post_avatar_link" href="<%="/users/#{@post['user_id']}"%>">
    <% end %>
    <img src="<%= @post['avatar_thumb'] %>" class="post_avatar_image">
    <% if @post['revealed'] %>
      </a>
    <% end %>
  </div>
  <div class="small-9 column non-avatar-content">
    <div class="row">
      <div class="small-9 column">
        <div class="row post_username">
          <% if @post['revealed'] %>
            <a class="post_username_link" href="<%="/users/#{@post['user_id']}"%>"><%= @post['username'] %></a>
          <% else %>
            Anonymous<% if @post['current_user_is_poster'] %> (Me)<% end %>
          <% end %>
        </div>
        <div class="row post_content"><%= @post['content'] %></div>
        <div class="row post_vote" data-uservote="<%= @post['current_user_vote'] %>" data-id="<%= @post['id'] %>" data-isposter="<%= @post['current_user_is_poster'] %>" data-watchstat="<%= @post['watch_stat'] %>" data-ignorestat="<%= @post['ignore_stat'] %>">
          <% if @post['current_user_vote']=='watch' %>
            <span class="vote post_watch bold"><i class="fi-like"></i> <%= @post['watch_stat'] %></span>
            <span class="vote post_ignore"><i class="fi-dislike"></i> <%= @post['ignore_stat'] %></span>
          <% elsif @post['current_user_vote']=='ignore' %>
            <span class="vote post_watch"><i class="fi-like"></i> <%= @post['watch_stat'] %></span>
            <span class="vote post_ignore bold"><i class="fi-dislike"></i> <%= @post['ignore_stat'] %></span>
          <% else %>
            <span class="vote post_watch"><i class="fi-like"></i> <%= @post['watch_stat'] %></span>
            <span class="vote post_ignore"><i class="fi-dislike"></i> <%= @post['ignore_stat'] %></span>
          <% end %>
          <%if @post['current_user_is_poster'] and @post['item_type']!='watch' %>
            <span class="post_control delete_post" data-id="<%=@post['id']%>">delete</span>
          <% end %>
        </div>
        <% if @post['item_type']=='watch' %>
          <div class="row watch_info">
            Watched by <a class="row watch_user_link" href="/users/<%= @post['followed_user_id'] %>"><%= @post['followed_username'] %></a>
          </div>
        <% end %>
      </div>
      <div class="small-3 column">
        <%if @post['current_user_is_poster'] and @post['item_type']!='watch' %>
          <div class="row tiny switch reveal-switch-div" onclick="">
            <% if @post['revealed']%>
              <span id="reveal-switch-span" onclick="">Public</span>
              <input id="reveal-switch-input" class="post_control" data-id="<%=@post['id']%>" data-revealed="<%=@post['revealed']%>" checked type="checkbox" value="" name="" onclick="">
              <label class="post_control" for="reveal-switch-input"></label>
            <% else %>
              <span id="reveal-switch-span" onclick="">Hidden</span>
              <input id="reveal-switch-input" class="post_control" data-id="<%=@post['id']%>" data-revealed="<%=@post['revealed']%>" type="checkbox" value="" name="" onclick="">
              <label class="post_control" for="reveal-switch-input"></label>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</ul>