<div id="home-forms">
  Login
  <div id="sign-in" class="home-form">
    <%= form_tag("/users/login", method: "post") do %>
      <%= text_field_tag(:username, nil, placeholder: 'username') %>
      <%= password_field_tag(:password, nil, placeholder: 'password') %>
      <%= submit_tag("Sign In", class: "button tiny") %>
    <%end%>
  </div>
  <br />
  New user?
  <div id="sign-up" class="home-form">
    <%= form_tag("/users", method: "post") do %>
      <%= text_field_tag(:username, nil, placeholder: 'username') %>
      <%= password_field_tag(:password, nil, placeholder: 'password') %>
      <%= password_field_tag(:confirm_password, nil, placeholder: 'confirm password') %>
      <%= submit_tag("Sign Up", class: "button tiny") %>
    <%end%>
  </div>
</div>
