
  <div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
      <nav class="tab-bar">
        <section class="left-small">
          <a class="notification-icon" href="/reveal_notifications"><i class="fi-flag"></i></a>
        </section>

        <section class="middle tab-bar-section">
          <h1 class="title">Reveal</h1>
        </section>

        <section class="right-small">
          <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
        </section>
      </nav>

      <aside class="right-off-canvas-menu">
        <ul class="off-canvas-list">
          <li><label>Menu</label></li>
          <% if controller_name == 'posts' and action_name =='new' %>
            <li class="active"><a href="/posts/new"><i class="menu_icon fi-pencil"></i>Create</a></li>
          <% else %>
            <li><a href="/posts/new"><i class="menu_icon fi-pencil"></i>Create</a></li>
          <% end %>
          <% if controller_name == 'posts' and action_name !='new' %>
            <li class="active"><a href="/posts_popular"><i class="menu_icon fi-list-thumbnails"></i>Feeds</a></li>
          <% else %>
            <li><a href="/posts_popular"><i class="menu_icon fi-list-thumbnails"></i>Feeds</a></li>
          <% end %>
          <% if controller_name == 'users' and  params[:id].to_i == current_user['id'] %>
            <li class="active"><a href="/users/<%=current_user['id']%>"><i class="menu_icon fi-torso"></i>Profile</a></li>
          <% else %>
            <li><a href="/users/<%=current_user['id']%>"><i class="menu_icon fi-torso"></i>Profile</a></li>
          <% end %>
          <li><a href="/users_logout"><i class="menu_icon fi-eject"></i>Logout</a></li>
        </ul>
      </aside>

      <section class="main-section">
        <div class="container">
          <% flash.each do |key, value| %>
            <div data-alert class="alert-box <%= key %>"><%= value %></div>
          <% end %>
          <%= yield %>
        </div>
      </section>

    <a class="exit-off-canvas"></a>

    </div>
  </div>


