<div data-role="header" data-position="inline">
	<h1>Reveal</h1>
</div>
<% if authenticated? %>
  <%= link_to "Logout", :logout %>
  <%= link_to "Feed", '/posts' %>
  <%= link_to "Feed-Location", '/posts_location' %>
  <%= link_to "Feed-Popular", '/posts_popular' %>
  <%= link_to "Feed-Followed", '/posts_followed' %>
  <%= link_to "Create Post", :new_post %>
  <%= link_to "Reveal Notifications", '/reveal_notifications' %>
  <%= link_to "Profile", "/users/#{current_user['id']}" %>
<% end %>