<!DOCTYPE html>
<html lang="en">
  <meta name="viewport" content="width=device-width" />
  <head>
    <meta charset="utf-8" />

    <title><%= content_for?(:title) ? yield(:title) : "Reveal" %></title>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if authenticated? %>
      <span id="auth_user_info" data-id="<%= session[:user]['id'] %>" data-username="<%=session[:user]['username']%>" data-token="<%= session[:user]['auth_token'] %>" data-authenticated="true" class="hidden"></span>
    <% else %>
      <span id="auth_user_info" data-id="" data-username="" data-token="" data-authenticated="false" class="hidden"></span>
    <% end %>
    <span id="page_info" data-controller="<%= controller_name %>" data-action="<%= action_name %>" class="hidden"></span>
    <% if authenticated? %>
      <%= render 'layouts/body_auth' %>
    <% else %>
      <%= render 'layouts/body_unauth' %>
    <% end %>
  </body>
</html>