<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if authenticated? %>
      <span id="auth_user_info" data-id="<%= session[:user]['id'] %>" data-username="<%=session[:user]['username']%>" data-token="<%= session[:user]['auth_token'] %>" class="hidden"></span>
    <% else %>
      <span id="auth_user_info" data-id="" data-username="" data-token="" class="hidden"></span>
    <% end %>
    <span id="page_info" data-controller="<%= controller_name %>" data-action="<%= action_name %>" class="hidden"></span>

    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>