<div class="sticky">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name"><h1><a>Reveal</a></h1></li>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <% if controller_name == 'posts' and action_name =='new' %>
          <li class="active"><a href="/posts/new"><i class="menu_icon fi-pencil"></i>Create</a></li>
        <% else %>
          <li><a href="/posts/new"><i class="menu_icon fi-pencil"></i>Create</a></li>
        <% end %>
        <% if controller_name == 'posts' and action_name !='new' %>
          <li class="active"><a href="/posts_popular"><i class="menu_icon fi-list-thumbnails"></i>Feeds</a></li>
        <% else %>
          <li><a href="/posts_popular"><i class="menu_icon fi-list-thumbnails"></i>Feeds</a></li>
        <% end %>
        <% if controller_name == 'users' and  params[:id].to_i == current_user['id'] %>
          <li class="active"><a href="/users/<%=current_user['id']%>"><i class="menu_icon fi-torso"></i>Profile</a></li>
        <% else %>
          <li><a href="/users/<%=current_user['id']%>"><i class="menu_icon fi-torso"></i>Profile</a></li>
        <% end %>
        <li><a href="/users_logout"><i class="menu_icon fi-eject"></i>Logout</a></li>
      </ul>

      <!-- Left Nav Section -->
      <ul class="left">
        <li><a class="notification" href="/reveal_notifications"><i class="fi-flag"></i></a></li>
      </ul>
    </section>
  </nav>
</div>
<div class="container">
  <% flash.each do |key, value| %>
    <div data-alert class="alert-box <%= key %>"><%= value %></div>
  <% end %>
  <%= yield %>
</div>